:root {
    --core-background: oklch(29.3% 0.066 243.157);
    --second-background: oklch(23.3% 0.066 243.157);
    --text-primary: #ffffff;
    --text-secondary: red;
    --text-surface: oklch(44.6% 0.03 256.802);
}